.dog-card-box {
  display: flex;
}
.dog-card {
 background-color: #DECAFE;
 border-radius: 5px;
 display: flex;
 margin: 5px;
 padding: 10px;
}
.dog-image-box {
}
.dog-image {
  max-width: 200px;
  max-height: 200px;
}
.dog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.toTop-icon {
  background-color: white;
  border-radius: 100%;
  float: left;
  width: 24px;
  height: 24px;

}
